export PORT=8000
export MODE=dev

export DB_HOST=localhost
export DB_PORT=5432
export DB_NAME=area
export DB_USER=root
export DB_PASS=dbpass
export DB_URL=postgresql://$DB_USER:$DB_PASS@$DB_HOST:$DB_PORT/$DB_NAME

export CLIENT_PORT=3000