export PORT=8000
export MODE=dev

export TOKEN_SECRET=b1be96e1c1b5f8289035813256d4532502224f6058e3a69c94cca2b8102dbb5bf8c2bf7b650b8cc83bdc34829551a4657b4e1d90f8ace32d88b99a9545cfd0ab

export DB_HOST=db
export DB_PORT=5432
export DB_NAME=area
export DB_USER=root
export DB_PASS=dbpass
export DB_URL=postgresql://$DB_USER:$DB_PASS@$DB_HOST:$DB_PORT/$DB_NAME

export CLIENT_PORT=3000